#main{
    margin: 0 auto;
    width: 92%;
    margin-top: 1%;
    display: grid;
    grid-template-columns: 4fr 3fr 3fr;
    gap: 20px;
}
#news{
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 25px;
    padding: 3%;
    background: white;
}
#user-search{
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 25px;
    padding: 3%;
    background: white;
}
#history-actions{
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 25px;
    padding: 3%;
    background: white;
    height: 400px;
}
#history-actions p{
    font-size: 18px;
}
#history-actions a{
    color: black;
    text-decoration: none;
}
#action{
    font-size: 18px;
    border: 2px solid black;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 25px;
    padding: 2%;
    margin-top: 1%;
}
#action:hover{
    border: 2px solid rgb(136, 176, 75);
}
#search-form-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
}
.form-group{
    display: flex;
    gap: 30px;
}
.form-group input{
    padding: 3px;
    font-size: 18px;
    border-radius: 5px;
    width: 105%;
}
.form-group button{
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    display: block;
    background: white;
    padding: 3px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.171);
    transition: 0.3s box-shadow;
}
.form-group button:hover{
    box-shadow: 0 2px 10px rgb(136, 176, 75);
}
.links-block{
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 25px;
    padding: 3%;
    background: white;
    font-size: 18px;
    transition: 0.3s box-shadow;
}
.links{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 3%;
}
.links a{
    color: black;
    text-decoration: none;
}
.links-block:hover{
    box-shadow: 0 2px 10px rgb(136, 176, 75);
}
#about{
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 25px;
    padding: 3%;
    background: white;
    grid-column: 2 / 4;
}
#about p{
    font-size: 18px;
}
#count{
    display: flex;
    margin-top: 2%;
    gap: 20px;
}
.count-div{
    text-align: center;
    margin: auto;
}
.count-div b{
    color: rgb(136, 176, 75);
    font-size: 19px;
}


