{% extends "base.html" %}
{% load static %}

{% block title %}MedBase &middot; Анализ{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/overview/test.css' %}">
{% endblock %}

{% block content %}
<a href="{% url 'profile' user.id %}">
  <div id="back-btn">
    <img src="{% static 'images/arrow_back.png' %}">
  </div>
</a>
<a href="{% url 'test_edit' user.id test.id %}">
  <div id="edit-btn">
    <img src="{% static 'images/edit.png' %}">
  </div>
</a>
<div id="test-info">
    <h1>{{ test.name }}</h1>
    <p>Медцентр: {{ test.medcenter.name }}</p>
    <p>Тип анализа: {{ test.get_type_display }}</p>
    <p>Описание: {{ test.desc }}</p>
</div>
<button id="add-files-btn" onclick="showForm()">Добавить файлы<img src="{% static 'images/add.png' %}" style="vertical-align: middle;"></button>
<div id="add-files-form">
  <p style="font-size: 20px;"><img src="{% static 'images/exclamation.png' %}" style="vertical-align: middle;">При загрузке файлов действие будет сохранено в историю</p>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      {{ form.files.label_tag }}
      {{ form.files }}
    </div>
    <button id="submit-btn" type="submit" disabled>Добавить</button>
  </form>
</div>
{% if files %}
<h1 style="text-align: center;">Файлы</h1>
<div id="files">
    {% for fl in files %}
    <div id="file-div">
      <form method="post" action="{% url 'delete_file' fl.id %}" onsubmit="return confirm('Вы уверены, что хотите удалить этот файл? Удаление файла будет записано в историю');">
        {% csrf_token %}
        <button type="submit" id="delete-btn">
          <img src="{% static 'images/delete.png' %}" style="vertical-align: middle;">
        </button>
      </form>
      <p><b>{{ fl.filename }}</b></p>
      <p>{{ fl.extension }} &middot; {{ fl.file_size }}</p>
      <a style="text-decoration: none; color:black;" href="{{ fl.file.url }}" download>Загрузить<img src="{% static 'images/download.png' %}" style="vertical-align: middle;"></a>
    </div>
    {% endfor %}
</div>
{% endif %}
<h1 style="text-align: center;">Все анализы</h1>
<div id="tests">
{% for tst in tests %}
<div id="test">
  {% if tst.id == test.id %}
  <p><b>{{ tst.name }}</b> (Текущая)</p>
  <p>{{ tst.medcenter.name }} &middot; {{ tst.get_type_display }}</p>
  {% else %}
  <p><b>{{ tst.name }}</b></p>
  <p>{{ tst.medcenter.name }} &middot; {{ tst.get_type_display }}</p>
  {% endif %}
</div>
{% endfor %}
</div>
{% endblock %}
{% block scripts %}
<script>
  function showForm(){
    document.getElementById("add-files-form").style.display = "block";
  }
  document.addEventListener("DOMContentLoaded", function () {
      const fileInput = document.getElementById("id_files");
      const submitBtn = document.getElementById("submit-btn");

      if (fileInput && submitBtn) {
          fileInput.addEventListener("change", function () {
              if (fileInput.files.length > 0) {
                  submitBtn.removeAttribute("disabled");
              } else {
                  submitBtn.setAttribute("disabled", "true");
              }
          });
      }
  });
</script>
{% endblock %}